<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--    <bean id="student" class="com.tarikc.Student" scope="prototype">-->
    <bean id="student" class="com.tarikc.Student" >
        <property name="age" value="115"></property>
        <property name="laptop" ref="laptop1"></property>
    </bean>
    <bean id="laptop1" class="com.tarikc.Laptop">

    </bean>

</beans>

